body{
    background-color: #f3f2f0;
}

header{
    margin: 15px 20px 20px 15px;
}

#linkedin {
    width: 140px;
    height: 35px;
}

.title-container{
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.title-container h1{
    font-size: 2em;
}

.login-container{
    margin: auto;
    max-width: 400px;
    border-radius: 10px;
    padding: 25px 25px 10px 25px;
    background-color: white;
}

.login-container label, input{
    width: 100%;
    display: block;
}

.label-input{
    font-size: 0.8em;
    font-weight: 600;
    color: #424242;
    margin-bottom: 15px;
}

.form-input{
    border: solid black 1px;
    border-radius: 4px;
    font-size:1.2em;
    padding: 4px 15px;
    font-weight: 400;
    margin-top: 5px;
}

.remember-me-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    accent-color: #046842;
}

.remember-me-container{
    display: flex;
    align-items: start;;
}

.remember-me-container label{
    font-size: 0.9em;
}

.policy-text{
    text-align: center;
    font-size: 0.75em;
    color:#00000099
}

.policy-container{
    margin: 15px 0px;
}

.blue-policy-words{
    color:#005dc1;
    font-weight: 600;
}

.form-button{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    background-color: #005dc1;
    color: white;
    font-weight: 600;
    border: 1px solid #005dc1;
}

.divider{
    display:flex;
    align-items: center;
    margin: 1.5rem 0;
    width: 100%;
 }
 
 .divider .line {
     height: 1px;
     flex:1;
     background-color: #c5c5c5;
 }
 
 .divider h4{
     padding: 0 1rem;
     margin: 0;
     font-size: 0.9rem; 
     font-weight: 500;
     color: #4f4f4f
 }



 .alt-sign-in{
    margin-bottom: 20px;
    width: 100%;
    border-radius: 30px;
    background-color: transparent;
    padding: 8px;
    border: 1px solid #3f3f3f;
    font-size: 1em; 
    font-weight:600;
    color: #383838;
    display: flex; 
    align-items: center; 
    justify-content: center;
    cursor: pointer;
}

.logo-button{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.alt-sign-in-form{
    padding: 0 13px;
}

.sign-in-container{
    margin-top: 30px;
    text-align: center;
}

.sign-in-container a{
    text-decoration: none;
    font-weight: 600;
}

.step-2{
  display: none;
}